.boost {
  margin-bottom: 100px;

  & .container {
    padding: 0 71px;
  }
  &-wrapper {
    display: flex;
    border-radius: 32px;
    background: #02897a;
  }
  &-content {
    padding: 50px;
  }
  &-text {
    max-width: 500px;
    color: #fff;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 46px;
  }
  &-btn {
    padding: 10px 34px;
    border-radius: 8px;
    background: #fff;
    color: #02897a;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    &:active {
      scale: 0.95;
    }
  }
}
