.clients {
  text-align: center;
  margin-bottom: 100px;

  &-subtitle {
    display: inline-block;
    width: 537px;
    color: #22343d;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.2px;
    margin-bottom: 40px;
  }
  &-list {
    display: flex;
    gap: 64px;
  }
  &-item {
    border-radius: 5px;
    border: 1px solid #dedede;
    background: #fff;
    padding: 28px;
  }
  &-stars {
    text-align: left;
    margin-bottom: 16px;
  }
  &-description {
    color: #737373;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: 0.2px;
    text-align: left;
    margin-bottom: 16px;
  }
  &-wrapper {
    display: flex;
    gap: 14px;
  }
  &-content {
    text-align: left;
  }
  &-title {
    color: #02897a;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
  }
  &-work {
    color: #252b42;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
  }
}
