.management {
 margin-bottom: 100px;
  & .container {
    display: flex;
    gap: 84px;
  }
  &-wrapper {
    padding-top: 48px;
    max-width: 486px;
  } 
  &-name {
    color: #22343d;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
    margin-bottom: 12px;
  }
  &-text {
    color: #22343d;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 30px;
  }
}

