// .product {
//     height: 500px;
//     border-radius: 80%;
//     background: linear-gradient(360deg, #EDEDED 0%, rgba(255, 255, 255, 0.00) 100%);
// }

.product-title {
  color: #22343d;
  text-align: center;
  // font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  gap: 30px;
}

.product-item {
  width: 255px;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  background-color: #02897a;
  width: 35px;
  height: 35px;
  &.blue {
    background-color: #4d8dff;
  }
  &.purple {
    background-color: #740a76;
  }
  &.red {
    background-color: #f03e3d;
  }
  margin-bottom: 26px;
}

.product-icon {
  width: 11px;
  height: 18px;
}

.product-name {
  margin-bottom: 13px;
  color: #22343d;
  // font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.product-text {
    color: #22343D;
// font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 50px;
}

.product-btn {
    display: block;
    border-radius: 4px;
background: #02897A;
color: #FFF;
// font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 15px 32px;
border: none;
margin: 0 auto;
text-transform: uppercase;
}
