.quick {
  margin-bottom: 100px;
  background-image: url(../images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: center 0px;

  & .container {
    padding-top: 50px;
  }

  & .section-title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &-subtitle {
    max-width: 542px;
    margin: 0 auto;
    color: #22343d;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 1149px) {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 50px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 14px;
      margin-bottom: 25px;
      // width: calc((100% - 30px) / 2);
      // &:not(:nth-child(-n + 2)) {
      //   margin-bottom: 0px;
      // }
      transition: color, scale $duration-function $timing-function;
      &:hover {
        color: #02897a;
        scale: 1.1;
      }
    }
    &-img {
      width: 89px;
      height: 88px;
    }
    &-bg {
      background-image: url(../images/cloud-left.png);
      &.right {
        background-image: url(../images/cloud-right.png);
      }
    }
  }

  @media screen and (min-width: 1150px) {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 50px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 17px;
      margin-bottom: 25px;
      width: calc((100% - 30px) / 2);
      &:not(:nth-child(-n + 2)) {
        margin-bottom: 0px;
      }
      transition: color, scale $duration-function $timing-function;
      &:hover {
        color: #02897a;
        scale: 1.1;
      }
    }
    &-img {
      width: 98px;
      height: 98px;
    }
    &-bg {
      background-image: url(../images/cloud-left.png);
      &.right {
        background-image: url(../images/cloud-right.png);
      }
    }
  }

  &-text {
    display: flex;
    width: 300px;
    height: 85px;
    position: relative;
    top: 23px;
    justify-content: center;
  }

  &-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    background: #02897a;
    padding: 14px 30px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    &:active {
      scale: 0.95;
    }
  }
}
